<div class="d-flex">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar">
        <div class="sidebar-heading"> </div>
        <a class="navbar-brand" href="#" id="navbar-brand" >School Control</a>
        
        <div class="list-group list-group-flush">
            <a [routerLink]="['']" class="list-group-item list-group-item-action bg-dark" id="bg-transition">Cursos</a>
            <a [routerLink]="['']" class="list-group-item list-group-item-action bg-dark" id="bg-transition">Turmas</a>
            <a [routerLink]="['']" class="list-group-item list-group-item-action bg-dark" id="bg-transition">Matricular</a>
            <a [routerLink]="['']" class="list-group-item list-group-item-action bg-dark" id="bg-transition">Aluno</a>
        </div>
    </div>
    <!-- Página-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom" id="navbar-gradient">
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['']">sair</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <h1 class="mt-4">School Control</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Ut wisi enim ad minim veniam, quis nostrud. 
            Exerci tation ullamcorper suscipitut aliquip ex ea commodo consequat. 
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. </p>
        </div>
    </div>
</div>