<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-2">
                    <h3>Realizar Login</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Seu Email *" value="email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Sua Senha *" value="password" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="forget_pass" class="ForgetPwd" value="">Esqueceu sua senha?</a>
                        </div>
                        <div class="form-group">
                                <a href="register_account" class="ForgetPwd" value="register">Registre-se aqui !</a>
                            </div>
                    </form>
                </div>
        </div>
</div>