<div class="login-container">
    <div class="row centered">
        <div class="col-md-3 centered text-center">
            <h3>Realizar Login</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Seu Email *" value="email" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Sua Senha *" value="password" />
                </div>
                <div class="form-group">
                    <a type="submit" class="btn-submit" [routerLink]="['/dashboard']">Enviar</a>
                </div>
                <div class="form-group">
                    <a href="forget_pass" class="forget-pwd" value="">Esqueceu sua senha?</a>
                </div>
                <div class="form-group">
                        <a href="register_account" class="forget-pwd" value="register">Registre-se aqui !</a>
                    </div>
            </form>
        </div>
        </div>
</div>