
<app-navbar></app-navbar>
<!-- Top content -->
<div class="top-content">
   <div class="row no-gutters">
     <div class="col">
       <div id="" class="ccarousel-examplearousel slide" data-ride="carousel">
         <div class="carousel-inner">
           <div class="carousel-item active">
             <img src="assets/img/backgrounds/student_1.jpg" class="d-block w-100" alt="img1">
        <div class="carousel-caption">
          <h1>School Control</h1>
          <div>
            <p>
              Sistema de Controle Acadêmico
            </p>
          </div>
        </div>
           </div>
           <div class="carousel-item">
             <img src="assets/img/backgrounds/top_classroom.jpg" class="d-block w-100" alt="img2">
             <div class="carousel-caption">
          <h1>Tenha o total controle de suas turmas</h1>
        </div>
         </div>
       </div>
     </div>
   </div>
</div>

<!-- Section 1 -->
<div class="section-1-container section-container">
<div class="container">
  <div class="row">
    <div class="col section-1 section-description">
      <h2>Sobre</h2>
      <div class="divider-1 "><span></span></div>
    </div>
  </div>
      <div class="row">
        
              <p class="medium-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                Ut wisi enim ad minim veniam, quis nostrud. 
                Exerci tation ullamcorper suscipitut aliquip ex ea commodo consequat. 
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. 
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                Ut wisi enim ad minim veniam, quis nostrud. 
                Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
          </div>
      </div>
  </div>
</div>
<!-- Section 2 -->
<div class="section-2-container section-container">
  <div class="container">
      <div class="row">
          <div class="col section-2 section-description">
              <h2>Contato</h2>
              <div class="divider-2 "><span></span></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 section-2-box ">
            <div class="row">
              <div class="col-md-4">
                <div class="section-1-box-icon">
                  <i class="fas fa-envelope"></i>
                </div>
              </div>
              <div class="col-md-8">
                  <h3>Email</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 section-2-box ">
            <div class="row">
              <div class="col-md-4">
                <div class="section-1-box-icon">
                  <i class="fas fa-mobile"></i>
                </div>
              </div>
              <div class="col-md-8">
                  <h3>Telefone</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 section-2-box ">
            <div class="row">
              <div class="col-md-4">
                <div class="section-1-box-icon">
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
              <div class="col-md-8">
                  <h3>Instagram</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>


<!-- Footer -->
<footer class="footer-container">

  <div class="container">
    <div class="row">
      
            <div class="col">
    <p>Sistema de Controle Academico - School Control</p>
            
            </div>
            
        </div>
  </div>
          
</footer>
